<%= simple_form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :first_name, label: 'First Name' %><br>
  </div>
  <div class="field">
    <%= f.input :last_name, label: 'Last Name' %><br>
  </div>
  <div class="field">
    <%= f.input :age, collection: 0..125, label: 'Age' %><br>
  </div>
  <div class="field">
    <%= f.input :dob, as: :date, label: 'Date of Birth' %><br>
  </div>
  <div class="field">
    <%= f.input :city, label: 'City' %><br>
  </div>
  <div class="field">
	  <%= f.label :state %>
    <%= f.select( :state, options_for_select(us_states, "TX")) %><br>
  </div>
  <div class="field">
    <%= f.input :zipcode, label: 'Zipcode' %><br>
  </div>
  <div class="field">
    <%= f.input :urgency, label: 'Urgency' %><br>
  </div>
  <div class="field">
    <%= f.input :time, as: :datetime, label: 'Time' %><br>
  </div>
  <div class="field">
    <%= f.input :note, as: :text, label: 'Notes' %><br>
  </div>
  <div class="actions">
    <%= f.submit 'Create Appointment', class: 'btn btn-default'%>
  </div>
<% end %>
